body {
    background-image: url(../imagens/capauniube.webp);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}

.tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 380px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: "Arial Black", sans-serif;
    color: black;
}

img {
    position: relative;
    left: 42px;
}

a {
    color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -20px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
    font-family: "Arial Black", sans-serif;
}

a:hover {
    color: turquoise;
    text-shadow: 0 0 0px turquoise;
}